<h2>Welcome to About</h2>
<div class="card shadow-lg card1">
    <div class="card-header">
        <h6>Sanay <small style="float: right;">15/04/2022 10:45 AM</small></h6>
    </div>
    <div class="card-body">
        <h6 style="color: blue;">The ticket 124471 is Opened</h6>
    </div>
</div>
<br>

<div class="card shadow-lg card2 ">
    <div class="card-header">
        <h6>Shrikant <small style="float: right;">11/08/2022 04:42 AM</small></h6>
    </div>
    <div class="card-body">
        <h6 style="color: orangered;">The ticket 12484 is Opened</h6>
    </div>
</div>
<br>

<div class="card shadow-lg card3">
    <div class="card-header">
        <h6>Nitesh <small style="float: right;">12/06/2022 01:40 AM</small></h6>
    </div>
    <div class="card-body">
        <h6 style="color:green;">The ticket 12832 is Opened</h6>
    </div>
</div>
<br>

<div class="card shadow-lg card4">
    <div class="card-header">
        <h6>Raju <small style="float: right;">05/06/2022 06:45 AM</small></h6>
    </div>
    <div class="card-body">
        <h6 style="color:rgb(218, 11, 90);">The ticket 12447 is Opened</h6>
    </div>
</div>